* { 
    box-sizing: border-box;
}

body { 
    background: #D8BFD8		;
    color: #8B008B	;
    font-family: 'Quicksand', sans-serif;
    border: 3px  solid #BA55D3	;
    padding: 50px;
    width: 67%;
    margin: 0 auto;
}

.content { 
    max-width: 1170%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.logo { 
    text-align: left;
    font-size: 3em;
}

.logo spam { 
    color: #C71585		;
}

.contact-wrapper {
    box-shadow: 0 0 50px 0 #BA55D3;
 }

 .contact-wrapper * {
    padding: 4px;;
 }

 .contact-form {
    background: #D8BFD8 ;
 }
 .contact-form form p {
    margin: 0;
    padding: 1em;
 }
 .contact-form input,
 .contact-form button,
 .contact-form textarea {
    width: 100%;
    padding: 5px;
    border: none;
    outline: 0;
    color: #8B008B;
    border-bottom: 1px solid #8B008B;
 }

 .contact-form form button {
    border: 0;
    text-transform: uppercase;
    padding: 1em;
 }
 .contact-form form button:hover,
 .contact-form form button:focus {
    color: #000;
    background: #cd9acd;
    transition: background-color 1s ease-out;
    outline: 0%;
 }
 .contact-info {
    background: #cd9acd ;
 }
.contact-info h4,
.contact-info ul,
.contact-info p { 
    text-align: center;
    margin: 0 0 1 rem 0;
}
.contact-info ul{
    list-style: none;
    padding: 0;
 }
.contact-info {
    padding: 3em;
 }
 /*LARGE SCREEN*/
 @media (min-width: 700px){ 
    body { 
        padding: 0 4em;
    }
    .contact-wrapper { 
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * { 
        padding: 2em;
    }
.contact-info h4,
.contact-info ul,
.contact-info p { 
    padding: 0.5em;
    text-align: left;
}
 }